body {
	background-image: url(http://wallpapercave.com/wp/iR4rgE9.jpg);
	background-size: cover;
}

.title {
	width: 300px;
	margin: auto;
	font-family: "Amatic SC";
	text-align: center;
}

.title > h1 {
	font-size: 3em;
	border-radius: 12px;
	background-color: white;
	border: 1px solid black;
	margin-left: 25px;
	margin-right: 25px;
	padding-top: 3px;
	padding-bottom: 3px;
}

.title > p {
	font-size: 1.5em;
	border-radius: 12px;
	background-color: white;
	border: 1px solid black;
	padding-top: 3px;
	padding-bottom: 3px;
}

.grid {
	background-color: white;
}

.header, .footer {
	text-align: center;
}

.header {
	margin-top: 25px;
	margin-bottom: 25px;
}

.footer {
	margin-top: 25px;
}


.canvasButton {
	font-family: "Amatic SC";
	font-size: 1.5em;
	border-radius: 12px;
	background-color: white;
	border: 1px solid black;
	margin-left: 25px;
	margin-right: 25px;
	padding-top: 3px;
	padding-bottom: 3px;
	padding-left: 15px;
	padding-right: 15px;
	transition-duration: 0.3s;
}

.canvasButton:hover {
	background-color: #777;
	color: white;
}